workflow/flujo_3.json
{
  "name": "AI Gantt con Quick Chart",
  "nodes": [
    {
      "parameters": {},
      "id": "Manual Trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "filePath": "/data/gantt.csv",
        "options": {
          "headerRow": true
        }
      },
      "id": "Read CSV",
      "name": "Read CSV",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "id": "Parse CSV",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  const start = new Date(item.json.start).getTime();\n  const end = new Date(item.json.end).getTime();\n  return {\n    json: {\n      task: item.json.task,\n      start,\n      end\n    }\n  };\n});"
      },
      "id": "Normalize Dates",
      "name": "Normalize Dates",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "action",
              "value": "update_task"
            },
            {
              "name": "task",
              "value": "Testing"
            },
            {
              "name": "delay_days",
              "value": "5"
            }
          ]
        }
      },
      "id": "AI Decision (Mock)",
      "name": "AI Decision (Mock)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [800, 100]
    },
    {
      "parameters": {
        "functionCode": "const decision = $items('AI Decision (Mock)')[0].json;\nconst delayMs = Number(decision.delay_days) * 24 * 60 * 60 * 1000;\n\nreturn items.map(item => {\n  if (decision.action === 'update_task' && item.json.task === decision.task) {\n    item.json.start += delayMs;\n    item.json.end += delayMs;\n  }\n  return item;\n});"
      },
      "id": "Recalculate Dates",
      "name": "Recalculate Dates",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "functionCode": "const labels = items.map(i => i.json.task);\nconst data = items.map(i => [i.json.start, i.json.end]);\n\nreturn [{\n  json: {\n    chart: {\n      type: 'bar',\n      data: {\n        labels,\n        datasets: [{\n          label: 'Proyecto',\n          data\n        }]\n      },\n      options: {\n        indexAxis: 'y',\n        scales: {\n          x: {\n            type: 'time',\n            time: { unit: 'day' }\n          }\n        }\n      }\n    }\n  }\n}];"
      },
      "id": "Build Gantt Chart",
      "name": "Build Gantt Chart",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "chartConfiguration": "={{ $json.chart }}",
        "output": "url"
      },
      "id": "Quick Chart",
      "name": "Quick Chart",
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Read CSV", "type": "main", "index": 0 }]]
    },
    "Read CSV": {
      "main": [[{ "node": "Parse CSV", "type": "main", "index": 0 }]]
    },
    "Parse CSV": {
      "main": [[{ "node": "Normalize Dates", "type": "main", "index": 0 }]]
    },
    "Normalize Dates": {
      "main": [[{ "node": "Recalculate Dates", "type": "main", "index": 0 }]]
    },
    "AI Decision (Mock)": {
      "main": [[{ "node": "Recalculate Dates", "type": "main", "index": 0 }]]
    },
    "Recalculate Dates": {
      "main": [[{ "node": "Build Gantt Chart", "type": "main", "index": 0 }]]
    },
    "Build Gantt Chart": {
      "main": [[{ "node": "Quick Chart", "type": "main", "index": 0 }]]
    }
  }
}
